## Chapter13: Pandas Objects

---
* Author:  [Yuttapong Mahasittiwat](mailto:khala1391@gmail.com)
* Technologist | Data Modeler | Data Analyst
* [YouTube](https://www.youtube.com/khala1391)
* [LinkedIn](https://www.linkedin.com/in/yuttapong-m/)
---

Source: [**Python Data Science Handbook** by **VanderPlas**](https://jakevdp.github.io/PythonDataScienceHandbook/)

In [3]:
import numpy as np
import pandas as pd
print("numpy version :",np.__version__)
print("pandas version :",pd.__version__)

numpy version : 1.26.4
pandas version : 2.2.1

### Pandas Series Object

In [6]:
data = pd.Series([.25,.5,.75,1.])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [8]:
# type(data)
# pd.Series.*?
data.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
data[1]

0.5

In [12]:
data[1:3]

1    0.50
2    0.75
dtype: float64

#### series as generalized numpy array

In [16]:
data = pd.Series([.25,.5,.75,1.],
                index = ['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [18]:
data['b']

0.5

In [26]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])   # not recommend

In [22]:
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [24]:
data[5]

0.5

#### Series as Specialized Dictionary

In [28]:
population_dict = {'California': 39538223, 
                   'Texas': 29145505,
                   'Florida': 21538187, 
                   'New York': 20201249,
                   'Pennsylvania': 13002700}

In [36]:
population_dict['Texas']

29145505

In [38]:
population = pd.Series(population_dict)  # key: index ; values: values
population

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [40]:
population['California':'Florida']

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

#### Constructing Series Objects

In [65]:
pd.Series(data)

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [67]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [69]:
pd.Series(5,index= [100,200,300])  # data repeated to fill index

100    5
200    5
300    5
dtype: int64

In [71]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [75]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[1, 2])  # subset only specified index

1    b
2    a
dtype: object

### Pandas Dataframe Object

#### Dataframe as generalized numpy array

In [92]:
area_dict = {'California': 423967, 'Texas': 695662, 'Florida': 170312,
             'New York': 141297, 'Pennsylvania': 119280}

In [96]:
area = pd.Series(area_dict)
area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
dtype: int64

In [100]:
population # same index

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [102]:
states= pd.DataFrame({'population': population,
                     'area': area})
states

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

In [104]:
states.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

In [106]:
states.columns

Index(['population', 'area'], dtype='object')

#### Dataframe as specialized dictionary

In [110]:
states['area']

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [112]:
states[['area']]

                area
California    423967
Texas         695662
Florida       170312
New York      141297
Pennsylvania  119280

#### constructing dataframe objects

##### from single series object

In [128]:
pd.DataFrame(population, columns=['population'])

              population
California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700

##### from list of dicts

In [132]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [136]:
pd.DataFrame([{'a': 1, 'b': 2}, 
              {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

##### from dictionary of series objects

In [138]:
pd.DataFrame({'population': population,
                     'area': area})

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

##### from two-dimensional numpy array

In [140]:
pd.DataFrame(np.random.rand(3, 2),
              columns=['foo', 'bar'],
              index=['a', 'b', 'c'])

        foo       bar
a  0.143237  0.283010
b  0.167529  0.004214
c  0.923336  0.568432

##### from numpy structured array

### pandas index object

In [142]:
ind = pd.Index([2,3,5,7,11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [144]:
type(ind)

pandas.core.indexes.base.Index

#### index as immutable array

In [146]:
ind[1]

3

In [148]:
ind[::2]

Index([2, 5, 11], dtype='int64')

In [150]:
ind.size, ind.shape, ind.ndim, ind.dtype

(5, (5,), 1, dtype('int64'))

In [ ]:
# ind[1] = 0 # error due to immutable

#### index as ordered set

In [155]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [158]:
indA.intersection(indB)

Index([3, 5, 7], dtype='int64')

In [160]:
indA.union(indB)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [162]:
indA.symmetric_difference(indB)

Index([1, 2, 9, 11], dtype='int64')